<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Geeks4GeeksPosts/src/p05_29_2017/GOODSET.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="p05_29_2017.GOODSET"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Geeks4GeeksPosts"/>
</launchConfiguration>
